<!-- Main container to center everything vertically and horizontally -->
<div class="flex min-h-screen items-center justify-center bg-gray-100">
  <!-- Box container for the form with controlled width -->
  <div class="w-full max-w-md px-8 py-6 space-y-6 rounded-lg shadow-lg bg-white">
    <h2 class="text-2xl font-semibold text-center text-gray-800">Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "space-y-4" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, class: "text-sm font-medium text-gray-700" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 block w-full px-3 py-2 border border-black-500 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" %>
      </div>

      <div class="actions flex justify-center">
        <%= f.submit "Send me reset password instructions", class: "w-full sm:w-auto flex justify-center items-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-500 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-600" %>
      </div>
    <% end %>

    <div class="mt-6 text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
